@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {

        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }
}

.section1 h1 {
    color: black;
}

.section1 p {
    color: black;
}

#scroller::after {
    content: 'Fullstack';
    animation: animate 16s infinite;
}

@keyframes animate {
    0% {
        content: 'Fullstack';
        color: lime;
    }

    16.6% {
        content: '.NET';
        color: red;
    }

    32.3% {
        content: 'Rust';
        color: orange;
    }

    50% {
        content: 'Typescript';
        color: blue;
    }

    66.5% {
        content: 'Web';
        color: purple;
    }

    83.5% {
        content: 'Game';
        color: yellow;
    }

    100% {
        content: 'Fullstack';
        color: lime;
    }
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}